@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
html {
  font-size: 62.2%;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: blanchedalmond;
}
.navbar img {
  width: 4rem;
  padding: 5px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar p {
  margin-right: 4rem;
  font-size: 2rem;
}
.navbar ul {
  width: 50vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  letter-spacing: 1px;
}
.heading {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  color: white;
}
.heading h1 {
  font-size: 6rem;
  padding: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}
.heading p {
  text-align: center;
  width: 70%;
  font-size: 1.8rem;
  padding: 10px;
  letter-spacing: 1px;
}
.work {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}
.mywork {
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0%;
}
.work h2 {
  font-size: 3rem;
  padding: 1rem;
  letter-spacing: 1.5px;
}
.work p {
  padding: 1rem;
  letter-spacing: 1px;
}
#btn {
  font-family: inherit;
  padding: 0.5rem 1.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.secondHead {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: 3px solid gray;
  padding: 10px;
}
.aboutus {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("bg.jpg");
  background-position: bottom;
  background-size: cover;
  color: aliceblue;
  display: flex;

  flex-direction: column;

  align-items: center;
}
.aboutus h1 {
  color: whitesmoke;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 4rem;
  border-bottom: 3px solid white;
  border-radius: 8px;
  text-shadow: 2px 1px 1px black;
  letter-spacing: 1px;
}
.aboutus p {
  font-size: 1.8rem;
  color: whitesmoke;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
}
.contactus {
  width: 100vw;
  height: 70vh;
  background: rgb(236, 226, 226);
}
form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
form h1 {
  padding: 1.5rem;
  font-size: 4rem;
}
form input {
  width: 40rem;
  padding: 1rem 0.8rem;
  outline: none;
  border: 2px solid black;
  border-radius: 0.8rem;
}
#submit {
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: burlywood;
  }
  .work {
    width: 50%;
    margin-bottom: 2rem;
  }
  .mywork {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.image_wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("bg07.jpg");
  background-position: center;
  background-size: cover;
}
.logo_design {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("img01.jpg");
  background-position: center;
  background-size: cover;
  color: aliceblue;
}
.bis_card {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("img02.jpg");
  background-position: center;
  background-size: cover;
  color: aliceblue;
}
.ban_design {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("img03.jpg");
  background-position: center;
  background-size: cover;
  color: aliceblue;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .aboutus>p{
    width: 90%;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar ul{
    width: 80%;
  }
  .work{
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
    html {
      font-size: 35%;
    }
  }